.footer-copyright {
    background: linear-gradient(grey, white)
}

<<<<<<< HEAD
.nav-item, .nav-link {
    color: black;
}

.text-uppercase {
    text-decoration-style: solid;
    font-weight: 600;
}

.list-unstyled ul {
    color: #2a2a2a;
}

=======
>>>>>>> d7a314c1e868d8fdb08e11b248f156056e08e780
/* Slider */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
html, body {margin: 0;padding: 0;font-family: 'Open Sans';}
body { background-color: #fafafa; }
<<<<<<< HEAD
#slider {position: relative;overflow: hidden;margin: 20px auto 0 auto;border-radius: 4px;width: 400px;height: 300px;}
#slider ul {position: relative;margin: 0;padding: 0;height: 200px;list-style: none;left: 0px;}
#slider ul li {position: relative;;margin: 0;padding: 0;width: 400px;height: 300px;background: #ccc;text-align: center;line-height: 300px;}
=======
h1 {text-align: center;font-weight: 300; margin-top:150px;}
#slider {position: relative;overflow: hidden;margin: 20px auto 0 auto;border-radius: 4px;width: 400px;height: 300px;}
#slider ul {position: relative;margin: 0;padding: 0;height: 200px;list-style: none;left: 0px;}
#slider ul li {position: relative;display: block;float: left;margin: 0;padding: 0;width: 400px;height: 300px;background: #ccc;text-align: center;line-height: 300px;}
>>>>>>> d7a314c1e868d8fdb08e11b248f156056e08e780
a.prev, a.next {position: absolute;top: 40%;z-index: 999;display: block;padding: 4% 3%;width: auto;height: auto;background: #2a2a2a;color: #fff;text-decoration: none;font-weight: 600;font-size: 18px;opacity: 0.8;cursor: pointer;}
a.prev:hover, a.next:hover {opacity: 1;-webkit-transition: all 0.2s ease;}
a.prev {border-radius: 0 2px 2px 0;}
a.next {right: 0;border-radius: 2px 0 0 2px;}

/*.nav{position: relative;margin: 0 auto;width: 300px;}
.nav ul{padding: 0px;margin: 0px auto;width: 34%;background: red;height: 20px;}
.nav ul li{display: inline;float: left;background: grey;margin: 0px 5px;color: transparent;border-radius: 20px;height: 15px;width: 15px;cursor: pointer;}*/
<<<<<<< HEAD
=======

>>>>>>> d7a314c1e868d8fdb08e11b248f156056e08e780
