.footer-copyright {
    background: linear-gradient(grey, white)
}

.nav-item, .nav-link {
    color: black;
}

.text-uppercase {
    text-decoration-style: solid;
    font-weight: 600;
}

.list-unstyled ul {
    color: #2a2a2a;
}